NANO_RPC_URL=<FOR_EXAMPLE_https://example-nano-rpc-endpoint.com/rpc>
NANO_WORK_GENERATION_URL=<FOR_EXAMPLE_https://example-nano-work-generation-endpoint.com/rpc>
CLIENT_NANO_ACCOUNT_PRIVATE_KEY=<64_HEX_CHARACTER_PRIVATE_KEY_OF_SENDING_NANO_ACCOUNT___**NOT_WALLET_SEED**>
PAYMENT_REQUIREMENT_PAY_TO=<NANO_ACCOUNT_THAT_RECEIVES_THE_PAYMENT___FOR_EXAMPLE_nano_123...abc>
PAYMENT_REQUIREMENT_AMOUNT=<NANO_AMOUNT_IN_RAW_UNITS_THAT_NEEDS_TO_BE_PAID___FOR_EXAMPLE_1000000000000000000000000000>
RESOURCE_PATH=/premium-api
RESOURCE_SERVER_PORT=3121
FACILITATOR_PORT=3122